/** Inicio Styles */
.main-container {  
    margin: 0 auto;   
    padding: 10px;
    background: linear-gradient(135deg, #5674D4 20%, #5677D6 35%, #005CD7 100%);
}
.main-container h2 {
    color: white;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}




